button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

button span {
  color: currentColor;
  line-height: 100%;
}
button:hover svg {
  stroke-width: 26;
}
button .overlay,
button .outline,
button .underlay,
button .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

button {
  z-index: 1;
}
button .outline {
  z-index: -1;
}
button .overlay {
  z-index: -2;
}
button .underlay {
  z-index: -3;
}
button .shadow {
  z-index: -4;
}
button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
