.headerView {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(var(--mio-theme-color-background));
    z-index: 1000;
  }
  .header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 480px;
    height: var(--mio-theme-header);
    color: rgb(var(--mio-theme-color-on-background));
    padding: 0 4px;
  }
  .header-left,
  .header-center,
  .header-right {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .header-left {
    flex: 1 1 96px;
  }
  .header-right {
    flex: 1 1 96px;
    justify-content: flex-end;
  }
  .header-center {
    flex: 1 1;
  }
  .header .logo {
    width: auto;
    height: 16px;
  }
  .header .logo svg {
    width: auto;
    height: 100%;
  }
  .header-center-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }