@import "./reset.scss";
@import "./font.scss";
@import "./root.scss";

.pa_4 {
  padding: 0 4px;
}
.pa_8 {
  padding: 0 8px;
}
.pa_12 {
  padding: 0 12px;
}
.pa_16 {
  padding: 0 16px;
}
.pa_20 {
  padding: 0 20px;
}
.pa_24 {
  padding: 0 24px;
}
.pa_32 {
  padding: 0 32px;
}
.display_flex {
  display: flex;
  
}
.flex-direction_column{
  flex-direction: column;
}
.flex-wrap_wrap {
  flex-wrap: wrap;
}
.align-items_flex-start {
  align-items: flex-start;
}
.align-items_center {
  align-items: center;
}
.align-items_flex-end {
  align-items: flex-end;
}
.justify-content_center {
  justify-content: center;
}
.justify-content_space-between {
  justify-content: space-between;
}
.justify-content_flex-end {
  justify-content: flex-end;
}
.sp_2 {
  height: 2px;
}
.sp_4 {
  height: 4px;
}
.sp_24 {
  height: 24px;
}
.sp_32 {
  height: 32px;
}
.sp_40 {
  height: 40px;
}
.sp_56 {
  height: 56px;
}
.sp_80 {
  height: 80px;
}
.sp_120 {
  height: 120px;
}
.sp_128 {
  height: 128px;
}
.sp_160 {
  height: 160px;
}
.icon_10 {
  width: 10px;
  height: 10px;
}
.icon_12 {
  width: 12px;
  height: 12px;
}
.icon_14 {
  width: 14px;
  height: 14px;
}
.icon_16 {
  width: 16px;
  height: 16px;
}
.icon_18 {
  width: 18px;
  height: 18px;
}
.icon_20 {
  width: 20px;
  height: 20px;
}
.icon_24 {
  width: 24px;
  height: 24px;
}
.icon_32 {
  width: 32px;
  height: 32px;
}
.icon_36 {
  width: 36px;
  height: 36px;
}
.icon_48 {
  width: 48px;
  height: 48px;
}
.icon_56 {
  width: 56px;
  height: 56px;
}
.gap_2 {
  gap: 2px;
}
.gap_4 {
  gap: 4px;
}
.gap_6 {
  gap: 6px;
}
.gap_8 {
  gap: 8px;
}
.gap_12 {
  gap: 12px;
}
.gap_16 {
  gap: 16px;
}
.gap_18 {
  gap: 18px;
}
.gap_20 {
  gap: 20px;
}
.gap_24 {
  gap: 24px;
}
.gap_28 {
  gap: 28px;
}
.sp_8 {
  height: 8px;
}
.sp_12 {
  height: 12px;
}
.sp_16 {
  height: 16px;
}
.sp_18 {
  height: 18px;
}
.sp_24 {
  height: 24px;
}
.sp_28 {
  height: 28px;
}
.sp_32 {
  height: 32px;
}
.sp_36 {
  height: 36px;
}
.sp_48 {
  height: 48px;
}
.sp_56 {
  height: 56px;
}
.sp_64 {
  height: 64px;
}
.sp_72 {
  height: 72px;
}
.sp_96 {
  height: 96px;
}
.line-height_100 {
  line-height: 100%;
}
.opacity_10 {
  opacity: .1;
}
.opacity_20 {
  opacity: .2;
}
.opacity_30 {
  opacity: .3;
}
.opacity_40 {
  opacity: .4;
}
.opacity_50 {
  opacity: .5;
}
.opacity_60 {
  opacity: .6;
}
.opacity_70 {
  opacity: .7;
}
.opacity_80 {
  opacity: .8;
}
.opacity_90 {
  opacity: .9;
}
.border-radius_12 {
  border-radius: 12px;
}
.color_primary {
  color: rgb(var(--mio-theme-color-primary));
}

select {
  color: inherit;
  font-size: 13px;
}




.line {
  width: 100%;
  height: 1px;
  opacity: 0.4;
  background-color: rgb(var(--mio-theme-color-on-background));
}
.width_100 {
  width: 100%;
}
.width_60 {
  width: 60%;
}
.width_70 {
  width: 70%;
}
.width_50 {
  width: 50%;
}
.height_24 {
  height: 24px;
}
.height_32 {
  height: 32px;
}
.height_40 {
  height: 40px;
}
.height_56 {
  height: 56px;
}
.height_64 {
  height: 64px;
}
.cursor_pointer {
  cursor: pointer;
}

mark {
  border: 1px solid rgb(var(--mio-theme-color-on-background));
  cursor: pointer;
  background-color: transparent;
  border-radius: 4px;
  padding: 1px;
}


/*--- 모바일 ---*/
@media all and (max-width: 479px) {

}
