@import "./reset.scss";
@import "./font.scss";
@import "./root.scss";

.display_flex {
  display: flex;
  
}
.flex-direction_column{
  flex-direction: column;
}
.align-items_flex-start {
  align-items: flex-start;
}
.align-items_center {
  align-items: center;
}
.align-items_flex-end {
  align-items: flex-end;
}
.justify-content_center {
  justify-content: center;
}
.justify-content_space-between {
  justify-content: space-between;
}
.sp_24 {
  height: 24px;
}
.sp_128 {
  height: 128px;
}
.sp_160 {
  height: 160px;
}
.width_100 {
  width: 100%;
}
.height_40 {
  height: 40px;
}
.height_64 {
  height: 64px;
}
.icon_16 {
  width: 16px;
  height: 16px;
}
.icon_24 {
  width: 24px;
  height: 24px;
}
.icon_48 {
  width: 48px;
  height: 48px;
}
.gap_4 {
  gap: 4px;
}
.gap_6 {
  gap: 6px;
}
.gap_8 {
  gap: 8px;
}
.gap_12 {
  gap: 12px;
}
.sp_8 {
  height: 8px;
}
.sp_12 {
  height: 12px;
}



.border-radius_12 {
  border-radius: 12px;
}
.routerView {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 var(--mio-theme-padding);
  color: var(--mio-theme-color-on-background);
}

select {
  color: inherit;
  font-size: 16px;
}



.spacing-1 {
  width: 100%;
  height: 16%;
}
.spacing-2 {
  width: 100%;
  height: 3%;
}

.width_100 {
  width: 100%;
}


.buttonGroup {
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 0 var(--mio-theme-padding);
  width: 100%;
  bottom: var(--mio-theme-padding);
}
.buttonGroup .content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 420px;
}
.no-scroll {
  overflow: hidden;
  height: 100%;
}
button {
  color: inherit;
}
/*--- 모바일 ---*/
@media all and (max-width: 479px) {

}
