@import "./reset.scss";
@import "./font.scss";
@import "./root.scss";

.sp_128 {
  height: 128px;
}
.sp_160 {
  height: 160px;
}
.width_100 {
  width: 100%;
}
.height_40 {
  height: 40px;
}
.icon_16 {
  width: 16px;
  height: 16px;
}
.routerView {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 var(--mio-theme-padding);
  color: var(--mio-theme-color-on-background);
}

select {
  color: inherit;
  font-size: 16px;
}



.spacing-1 {
  width: 100%;
  height: 16%;
}
.spacing-2 {
  width: 100%;
  height: 3%;
}

.width_100 {
  width: 100%;
}


.buttonGroup {
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 0 var(--mio-theme-padding);
  width: 100%;
  bottom: var(--mio-theme-padding);
}
.buttonGroup .content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 420px;
}
.no-scroll {
  overflow: hidden;
  height: 100%;
}
button {
  color: inherit;
}
/*--- 모바일 ---*/
@media all and (max-width: 479px) {

}
