
@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 100.900;
  src: url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap);
  unicode-range: U+3040-309F, U+30A0-30FF, U+FF00-FFEF; /* Japanese Hiragana, Katakana, and halfwidth/fullwidth characters */
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100.900;
  src: url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap);
  unicode-range: U+AC00-D7AF; /* Korean */
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal, italic;
  font-weight: 100.700;
  src: url(https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap);
  unicode-range: U+0020-007F; /* Basic Latin for English and numbers, includes italic */
}

body {
  font-family: "Roboto Mono", "Noto Sans KR", "Noto Sans JP", sans-serif;
}

.--mio-theme-font-family {
  font-family: var(--mio-theme-font-family);
}
.--mio-theme-font-family-kr {
  font-family: var(--mio-theme-font-family-kr);
}
.--mio-theme-font-family-jp {
  font-family: var(--mio-theme-font-family-jp);
}
.font-size_11 {
  font-size: 11px;
}
.font-size_12 {
  font-size: 12px;
}
.font-size_14 {
  font-size: 14px;
}
.font-size_16 {
  font-size: 16px;
}
.font-size_18 {
  font-size: 18px;
}
.font-size_20 {
  font-size: 20px;
}
.font-size_24 {
  font-size: 24px;
}
.font-size_28 {
  font-size: 28px;
}
.font-size_32 {
  font-size: 32px;
}
.font-size_36 {
  font-size: 36px;
}
.font-size_48 {
  font-size: 48px;
}
.font-size_64 {
  font-size: 64px;
}
.font-size_72 {
  font-size: 72px;
}
.font-weight_400 {
  font-weight: 400;
}
.font-weight_500 {
  font-weight: 500;
}
.font-weight_600 {
  font-weight: 600;
}
.font-weight_700 {
  font-weight: 700;
}
.font-weight_800 {
  font-weight: 800;
}
.text-align_center {
  text-align: center;
}
