@font-face {
  font-family: "Custom Font";
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url(https://ankitoki.web.app/font/PretendardJPVariable.woff2) format('woff2');
  unicode-range: U+3040-309F, U+30A0-30FF, U+FF00-FFEF;
}

@font-face {  
  font-family: "Custom Font";
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url(https://ankitoki.web.app/font/JetBrainsMonoVariable.ttf) format('truetype');
  unicode-range: U+0021-007F; /* Basic Latin for English and numbers, includes italic (excluding space) */
}
@font-face {
  font-family: "Custom Font";
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url(https://ankitoki.web.app/font/PretendardVariable.woff2) format('woff2');
  unicode-range: U+0020, U+AC00-D7AF; /* Space and Korean */
}














@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url(https://ankitoki.web.app/font/NotoSansJPVariable.ttf) format('truetype');
}
@font-face {
  font-family: "Pretendard JP";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://ankitoki.web.app/font/PretendardJPVariable.woff2) format('woff2');
}
@font-face {
  font-family: "Line Seed JP";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://ankitoki.web.app/font/LineSeedJP-100.woff2) format('woff2');
}
@font-face {
  font-family: "Line Seed JP";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://ankitoki.web.app/font/LineSeedJP-400.woff2) format('woff2');
}
@font-face {
  font-family: "Line Seed JP";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://ankitoki.web.app/font/LineSeedJP-700.woff2) format('woff2');
}
@font-face {
  font-family: "Line Seed JP";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(gs://ankitoki.appspot.com/font/LineSeedJP-800.woff2) format('woff2');
}
@font-face {
  font-family: "Suit";
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url(https://ankitoki.web.app/font/SuitVariable.woff2) format('woff2');
  unicode-range: U+AC00-D7AF; /* Korean */
}

@font-face {  
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url(https://ankitoki.web.app/font/RobotoMonoVariable.ttf) format('truetype');
  unicode-range: U+0020-007F; /* Basic Latin for English and numbers, includes italic */
}

body {
  font-family: var(--mio-theme-font-family-kr);
}

.en {
  font-family: var(--mio-theme-font-family-en);
}
.kr {
  font-family: var(--mio-theme-font-family-kr);
}
.jp {
  font-family: var(--mio-theme-font-family-jp);
}
.font-size_11 {
  font-size: 11px;
}
.font-size_12 {
  font-size: 12px;
}
.font-size_13 {
  font-size: 13px;
}
.font-size_14 {
  font-size: 14px;
}
.font-size_16 {
  font-size: 16px;
}
.font-size_18 {
  font-size: 18px;
}
.font-size_20 {
  font-size: 20px;
}
.font-size_24 {
  font-size: 24px;
}
.font-size_28 {
  font-size: 28px;
}
.font-size_32 {
  font-size: 32px;
}
.font-size_36 {
  font-size: 36px;
}
.font-size_48 {
  font-size: 48px;
}
.font-size_64 {
  font-size: 64px;
}
.font-size_72 {
  font-size: 72px;
}
.font-weight_400 {
  font-weight: 400;
}
.font-weight_500 {
  font-weight: 500;
}
.font-weight_600 {
  font-weight: 600;
}
.font-weight_700 {
  font-weight: 700;
}
.font-weight_800 {
  font-weight: 800;
}
.text-align_center {
  text-align: center;
}
.line-height_130 {
  line-height: 130%;
}
.line-height_180 {
  line-height: 180%;
}