html,
body {
  color: rgb(var(--mio-theme-color-on-background));
  background-color: rgb(var(--mio-theme-color-background));
  font-family: var(--mio-theme-font-family);
}
button, input, select, textarea {
  font-family: var(--mio-theme-font-family);
}


:root {
  --mio-theme-color-background: 0, 0, 0;
  --mio-theme-color-on-background: 255, 255, 255;
  --mio-theme-color-on-background-70: 178, 178, 178;
  --mio-theme-color-on-background-40: 102, 102, 102;
  --mio-theme-color-on-background-20: 60, 60, 60;
  --mio-theme-color-primary: 248, 244, 216;


  --mio-theme-color-on-primary: 255, 255, 255;
  --mio-theme-font-family: "Custom Font", sans-serif;
  --mio-theme-font-family-en: "Roboto Mono", monospace;
  --mio-theme-font-family-kr: 'Pretendard JP', sans-serif;
  --mio-theme-font-family-jp: 'Noto Sans JP', sans-serif;
  --mio-theme-padding-3: 8px;
  --mio-theme-padding-2: 24px;
  --mio-theme-padding-1: 16px;
  --mio-theme-header: 64px;
}

.color_on-background {
  color: rgb(var(--mio-theme-color-on-background));
}
.color_on-background-70 {
  color: rgb(var(--mio-theme-color-on-background-70));
}