html,
body {
  color: rgb(var(--mio-theme-color-on-background));
  background-color: rgb(var(--mio-theme-color-background));
}
:root {
  --mio-theme-color-on-background: 31, 31, 31;
  --mio-theme-color-background: 255, 255, 255;
  --mio-theme-color-primary: 93, 73, 206;
  --mio-theme-color-on-primary: 255, 255, 255;
  --mio-theme-font-family-en: "Roboto Mono", monospace;
  --mio-theme-font-family-kr: 'Line Seed JP", sans-serif';
  --mio-theme-font-family-jp: 'Line Seed JP", sans-serif';
  --mio-theme-padding-3: 8px;
  --mio-theme-padding-2: 24px;
  --mio-theme-padding-1: 16px;
  --mio-theme-header: 64px;
}

html[data-design-theme="design1"] {
  // onInv Preview section padding value
  --0-4-0: 0;
  // onInv Preview intro host gap value
  --8px-8px-24px: 8px;
  // onInv Preview countdown padding value
  --4-4-0: 4.2%;
  // onInv Comment Bubble Writer padding value
  --0-0-12: 0;
}


.--mio-theme-padding-1 {
  padding: 0 var(--mio-theme-padding-1);
}
.--mio-theme-padding-2 {
  padding: 0 var(--mio-theme-padding-2);
}
.--mio-theme-padding-3 {
  padding: 0 var(--mio-theme-padding-3);
}