
.tiptap {
  position: relative;
  width: 100%;
  resize: none;
  overflow: hidden;
}
.titap-btn.is-active {
  opacity: 1;
}
.editor__wrap {
  color: var(--primary-on);
  background-color: var(--primary-color);
}
.button-editor {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
}
.button-editor svg {
  width: 20px;
  height: 20px;
}


  
.ProseMirror {
    position: relative;
    outline: none;
    min-height: 80px;
    padding: 8px;
    text-align: var(--text-align);
    background-color: rgb(var(--mio-theme-color-primary), 0.12);
  }
  .tiptap__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-on);
    opacity: 0;
  }
  .selected .tiptap__overlay {
    opacity: 0.15;
  }
  .ProseMirror strong, 
  .tiptap__content strong { 
    font-weight: 700; 
  }


 





