button, input, select, textarea {
  background-color: transparent;
  border-style: none;
}
/*-- TYPE --*/
.form-field input[type="tel"] {
  letter-spacing: 0.5em;
}
.form-field input[type="password"] {
  letter-spacing: 0.2em;
}
.form-field {
  --form-field-border-width: 1px;
  --form-field-primary-color: rgb(var(--mio-theme-color-primary)) ;
  --form-field-font-color: rgb(var(--mio-theme-color-on-background)) ;
  --form-field-border-radius: 24px;
}
.form-field.focus {
  --form-field-border-width: 1.5px;
}
.form-field {
  position: relative;
  width: 100%;
  flex: 1;
}
.textField {
  position: relative;
  display: block;
  height: 40px;
  width: 100%;
  border-radius: var(--form-field-border-radius);
  background-color: rgb(var(--mio-theme-color-background));
}
.textArea {
  position: relative;
  display: block;
  height: 80px;
  width: 100%;
  border-radius: var(--form-field-border-radius);
}

.textField-flex {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
}
// 오버레이
.textField-overlay {
  position: absolute;
  border-radius: inherit;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-color: var(--form-field-primary-color);
}
.textField:hover .textField-overlay {
  opacity: 0.15;
}
.form-field.focus .textField-overlay {
  opacity: 0.15;
}

// 아웃라인
.textField-outline {
  position: absolute;
  contain: layout;
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 40px;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}
.form-field .textField-outline__notch {
  position: relative;
  display: flex;
  align-items: center;
  flex: none;
}
.form-field .textField-outline__start {
  flex: 0 0 20px;
}
.form-field .textField-outline__end {
  flex: 1;
}

// 라벨
.form-field label {
  align-items: center;
  display: flex;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  color: var(--form-field-font-color);
  line-height: 100%;
  transform: translateY(0%);
  transition: all 0.2s ease-in-out;
}
.form-field.active label,
.form-field.focus label {
  font-size: 12px;
  transform: translateY(-160%);
  color: var(--form-field-primary-color);
}
// 인풋
.form-field .textField-space {
  flex: 0 0 20px;
}
.form-field .textField-input {
  position: relative;
  flex: 1;
}
.form-field input {
  width: 100%;
  height: 100%;
  border-width: 0;
  font-size: 16px;
  color: var(--form-field-font-color);
}
.form-field input:focus {
  outline: none;
}
.form-field textarea {
  padding: 8px 0;
  width: 100%;
  height: 100%;
  resize: none;
  border-width: 0;
  font-size: 16px;
  color: var(--form-field-font-color);
}
.form-field button svg {
  color: var(--form-field-primary-color);
}
.form-field.focus button svg {
  stroke-width: 26;
}

// 힌트, 디테일
.form-field .textField-details {
  position: relative;
  width: 100%;
  height: 22px;
  overflow: visible;
  grid-area: messages;
}
.form-field .textField-details .messages {
  position: absolute;
  display: flex;
  align-items: flex-start;
  gap: 4px;
  top: -4px;
  padding: 0;
  font-size: 12px;
  line-height: 14px;
  color: var(--form-field-primary-color);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.form-field.invalid .textField-details .messages {
  color: var(--mio-theme-color-utility-error);
}
.form-field .textField-details .messages svg {
  width: 14px;
  height: 14px;
}
.form-field.focus .textField-details .messages {
  top: 4px;
  opacity: 1;
}
.form-field.focus .textField-details .messages svg {
  animation: blink 0.3s 2;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
