/*-- bottom Sheet --*/
.fullDialog {
  align-items: flex-start;
  justify-content: center;
  margin: auto;
}
.fullDialog > .overlay__content {
  max-width: 480px;
}
.fullDialog > .overlay__content {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  transform: translateY(100%);
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  &.active {
    transform: translateY(0%);
  }
  background-color: rgb( var(--mio-theme-color-background));
}
.fullDialog > .overlay__content > .dialog {
  position: relative;
  display: flex;
  flex-direction: column;
  --v-scrollbar-offset: 0px;
  overflow-y: auto;
  height: 100%;
}
.fullDialog > .overlay__content > .dialog .dialog-header {
  position: sticky;
  top: 0;
  height: var(--mio-theme-header);
  padding: 0 var(--mio-theme-padding-1) 0 0;
  background-color: rgb( var(--mio-theme-color-background));
  z-index: 10;
}
.fullDialog > .overlay__content > .dialog .dialog-header .title {
  font-size: 24px;
  height: 64px;
  display: flex;
  align-items: center;
}
.fullDialog > .overlay__content > .dialog .dialog-header .header-button button {
  color: rgb(var(--mio-theme-color-primary));
  font-size: 14px;
  font-weight: 700;
}

.fullDialog .dialog-content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  
}

.fullDialog .dialog-content .content {
  padding: 0 var(--mio-theme-padding-3);
}
/*--- 태블렛 ---*/
@media all and (max-width: 1023px) {
  .fullDialog > .overlay__content {
    max-width: 480px;
  }
}
