.mean .item,
.translation {
  color: rgb(var(--mio-theme-color-on-background));
  background-color: rgb(var(--mio-theme-color-on-background));
  padding: 0 2px;
  opacity: 0.4;
}
.mean .item.showMean,
.translation.showMean {
  color: rgb(var(--mio-theme-color-on-background));
  background-color: unset;
  opacity: 1;
}

.translation.showMean {
  opacity: 0.7;
}
.translation {
  font-weight: 400;
  width: fit-content;
  line-height: 130%;
  font-size: 13px;
}

.word {
  position: relative;
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
}

.word ruby > rt {
  opacity: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  color: rgb(var(--mio-theme-color-primary));
  transition: all 0.2s ease-in-out;
}
.word.showRuby rt {
  opacity: 1;
}

.sentence {
  position: relative;
  font-weight: 500;
  line-height: 130%;
  font-size: 16px;
  color: rgb(var(--mio-theme-color-on-background));
}
.sentence ruby > rt {
  opacity: 0;
  margin-top: 1px;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: rgb(var(--mio-theme-color-primary));
  transition: all 0.2s ease-in-out;
}
.sentence.showRuby rt {
  opacity: 1;
}
