
.mean {
  font-family: var(--mio-theme-font-family-kr);
}
.mean .item,
.translation {
  color: rgb(var(--mio-theme-color-primary));
  background-color: rgb(var(--mio-theme-color-primary));
  border-radius: 24px;
  padding: 0 2px;
}
.mean .item.showMean,
.translation.showMean {
  color: rgb(var(--mio-theme-color-on-background));
  background-color: unset;
}
.translation {
  font-family: var(--mio-theme-font-family-kr);
  font-weight: 400;
  width: fit-content;
  line-height: 130%;
  font-size: 13px;
  opacity: .7;
}



.word {
  position: relative;
  font-family: var(--mio-theme-font-family-jp);
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
}

.word ruby > rt {
 
  opacity: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  color: rgb(var(--mio-theme-color-primary));
  transition: all 0.2s ease-in-out;
}
.word.showRuby rt {
  opacity: 1;
}

.sentence {
  position: relative;
  font-family: var(--mio-theme-font-family-jp);
  font-weight: 500;
  line-height: 130%;
  font-size: 16px;
  color: rgb(var(--mio-theme-color-on-background));
}
.sentence ruby > rt {
  
  opacity: 0;
  margin-top: 1px;
  font-weight: 400;
  font-size: 11px;
  line-height: 100%;
  color: rgb(var(--mio-theme-color-primary));
  transition: all 0.2s ease-in-out;
}
.sentence.showRuby rt {
  opacity: 1;
}
