.mean .item,
.translation {
  color: rgb(var(--mio-theme-color-on-background));
  background-color: rgb(var(--mio-theme-color-on-background));
  padding: 0 2px;
  opacity: 0.4;
}
.mean .item.showMean,
.translation.showMean {
  color: rgb(var(--mio-theme-color-on-background));
  background-color: unset;
  opacity: 1;
}

.translation.showMean {
  opacity: 0.7;
}
.translation {
  font-weight: 400;
  width: fit-content;
  line-height: 130%;
  font-size: 13px;
}

.word {
  position: relative;
  font-weight: 500;
  font-size: 44px;
  line-height: 130%;
  text-align: center;
}

.word ruby > rt {
  opacity: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  color: rgb(var(--mio-theme-color-primary));
  transition: all 0.2s ease-in-out;
}
.word.showRuby rt {
  opacity: 1;
}

.sentence {
  position: relative;
  font-weight: 500;
  line-height: 130%;
  font-size: 16px;
  color: rgb(var(--mio-theme-color-on-background));
}
.sentence ruby > rt {
  opacity: 0;
  margin-top: 1px;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: rgb(var(--mio-theme-color-primary));
  transition: all 0.2s ease-in-out;
}
.sentence.showRuby rt {
  opacity: 1;
}



ul {
  margin-left: 22px;
  list-style: none;
}
ul li {
  position: relative;
  margin-bottom: 16px;
}
ul li:before {
  color: var(--mio-theme-color-on-background);
  background-image: url(https://oto5works.github.io/storage/image/list-bullet-dark.svg);
}
ul li:before {
  display: inline-block;
  position: absolute;
  left: -16px;
  width: 8px;
  height: 8px;
  transform: rotate(calc(var(--rotation)* 36deg));
  line-height: 0;
  text-align: center;
  content: "";
}
.japanese li:before {
  top: 16px;
}
.english li:before {
  top: 4px;
}
ul li:nth-child(4n) {
  --rotation: 9;
}
ul li:nth-child(3n+1) {
  --rotation: 7;
}
ul li:nth-child(4n+1) {
  --rotation: 6;
}
ul li:nth-child(3n) {
  --rotation: 5;
}
ul li:nth-child(3n+2) {
  --rotation: 4;
}
ul li:nth-child(2) {
  --rotation: 2;
}
ul li:nth-child(4n+3) {
  --rotation: 3;
}